{include file="public/header"}
<!--Banner-->
<div class="about_banner" id="banner" bg="__STATIC__/images/aboutbg.jpg"  idx="0" sign1="+" sign2="-" cnt="367" style="background-image:url(__STATIC__/images/aboutbg.jpg); background-repeat: initial initial;">
	<div class="intro">
        <h1>About Sunchange</h1>
        <p>我们一直走在国际设计的前沿，追求与研究从未停止</p>
  	</div>
</div>
<script>
$(function(){	
	$("#banner").MyFloatingBg({direction:0, speed:40});
});
</script>
<div class="content">
  <div class="main">
		<ul class="about_list">
        	<li>
            	<h4>尚辰的由来</h4>
                <p>尚，尊崇，所受注重，同遵的主流。<br>
                辰，日月星的总称，繁天漫物，包罗万象。</p>
				<p>尚辰，愿成为受到尊崇的主流，走在时代的前列。意寓能驾驭各式各样的创意与设计，融合万事万物，时代尖端与传统智慧相结合。当创意层出不穷多如牛毛触目皆是不胜枚举,琳琅满目的设计方案更是令你眼花缭乱, 哪一个是最适合你的？哪一个是最直接有效的？ 在作出正确选择之前必须懂得放弃, 化繁为简去伪存真，这就是尚辰!</p>
                <p>SUNCHANGE, Willing to become mainstream and respected, in the forefront of the times. It means blending can control a wide range of creative and design, integration of all things, the cutting edge and traditional wisdom combined.</p>
                <P>When ideas emerge in endlessly countless, the design is full of beautiful things in eyes to make you dazzling, which one is the most suitable for you? Which one is the most effective?Which one is the most suitable for you? Which one is the most effective? Before making a right choice, you must understand giving up.</P>
                <p>Changing numerous to be brief and true, this is Sunchange!</p>
            </li>
        	<li>
            	<h4>关于尚辰网络</h4>
                <p>SUNCHANGE 深圳市尚辰网络科技有限公司 成立于2013年,作为年轻的互联网科技公司,我们为客户提供了全方位的网络品牌形象策划、企业信息化及相关网络支持服务。</p>
				<p>虽然成立不久，但在过去的几年间，尚辰网络为许多家企事业单位提供设计服务、网站建设服务及网络品牌形象咨询服务，我们始终坚持站在最终顾客的角度，为客户创建准确可行、极具商业价值的品牌形象。</p>
                <p>SUNCHANGE company was founded in 2013, as a young network technology company, we provide customers a full range of enterprise information technology and related network support services and brand planning services.</p>
                <P>Although established, but in the past few years, Chen still many enterprises and institutions to provide network design services, Web site building services and network brand image consulting services, we always adhere to the end customer’s perspective, accurate and feasible for customers to create brand image of great commercial value.</P>
            </li>
        	<li class="last">
            	<h4>为什么选择我们？</h4>
                <p>我们99%的新业务来自于客户推荐。</p>
				<p>基于尊重、沟通、理解的外放式服务是我们的核心理念，每一个客户都是我们的合作伙伴。我们深知，只有您的成功才是我们的成功，以您的品牌发展和项目行销为己任，让您和您的客户满意，跟随您的企业一起成长，这才是Sunchange——超越一切的我们。</p>
                <p>99% of our new business comes from customer recommendation.</p>
                <P>Based on respect, communication and  understanding, extroverted service  is our core philosophy Every customer is our partner. We know that your success is our success, To take the responsibility of your brand development and project marketing, to meet you and your customers satisfaction, to grow up with you, This is Sunchenge.</p>
                <p>Beyond all of us.</p>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
</div>
{include file="public/footer"}