{include file="public/header"}
<div class="contact_banner"></div>
<div class="content">
    <div class="main">
        <div class="contact_bg_01">
            <ul class="contact_infor">
                <li><strong>联系电话 | Telephone ：</strong> +86 0755 - 3215 8323</li>
                <li><strong>电子邮箱 | Email ：</strong> Jero@sunchange.cn</li>
                <li><strong>联系地址 | Address ：</strong> 深圳市南山区西丽镇同沙路深圳职业技术学院西丽湖校区南门创意创业园227号</li>
                <li><strong>通讯邮编 | Zip Code ：</strong> 518055</li>
                <li><strong>营业时间 | Hours ：</strong> 09：30 ~ 12：00，14：00 ~ 17：00</li>
                <li><strong>交通信息 | Traffic ：</strong></li>
                <li>
                    <img src="__STATIC__/images/icon_t.gif" />
                    <p>&nbsp;&nbsp;附近地铁站：西丽站</p>
                    <p>&nbsp;&nbsp;附近公交站：九祥岭、深职院、西丽医院、西丽法庭、西丽劳力市场</p>
                </li>
                
            </ul>
        </div>
        <div class="contact_bg_02">
            <ul class="message_box">
            	<li>主题：<input tabindex="1" id="message_title" type="text" ></li>
                <li>姓名：<input tabindex="2" id="message_name" type="text" ></li>
                <li>电邮：<input tabindex="3" id="message_email" type="text" ></li>
                <li>内容：<textarea tabindex="4" id="message_content" rows="6"></textarea></li>
                <li>校验：<input tabindex="5" id="message_code" type="text" placeholder="请输入右侧验证码" ></li>
                <li><img src="{:U('common/verify')}"></li>
            </ul>
        </div>
    </div>
</div>
{include file="public/footer"}