{include file="public/header"}
    <!--Banner-->
    <div class="case_banner"></div>
    <div class="content">
        <div class="main">
            <ul class="case">
                <li><a href="#"><img src="__STATIC__/images/case01.jpg" /><span>CS软件站</span></a></li>
                <li><a href="#"><img src="__STATIC__/images/case02.jpg" /><span>柒殇屿</span></a></li>
                <li><a href="http://www.ibchina.com/"><img src="__STATIC__/images/case03.jpg" /><span>IB互联网银行</span></a></li>
                <li><a href="http://jiuye.szpt.edu.cn/"><img src="__STATIC__/images/case04.jpg" /><span>就业创业信息网</span></a></li>
                <li><a href="#"><img src="__STATIC__/images/case05.jpg" /><span>校友圈子</span></a></li>
                <li><a href="http://dudao.szpt.edu.cn/"><img src="__STATIC__/images/case06.jpg" /><span>深职院督导室|督导之窗</span></a></li>
            </ul>
        </div>
    </div>
{include file="public/footer"}