{include file="public/header"}
<div class="service_banner"></div>
<div class="content">
    <div class="main">
		<div class="service_title_1"></div>
		<ul class="service_list">
			<li>
				<img src="__ROOT__/static/images/icon_s_01.jpg">
				<span>
					<h3>网站规划与建设</h3>
					一站式的建站体验，从需求、规划、反馈、实施都有专人服务，协助规划您的网络门户。<br />追求卓越是我们的人生导航，所有的网站都是我们卓越的体现，只做精品，只做卓越。
				</span>
			</li>
			<li>
				<img src="__ROOT__/static/images/icon_s_02.jpg">
				<span>
					<h3>界面设计</h3>
					包括标志LOGO设计、VI设计、产品包装设计、平面设计在内的设计服务。<br />
					我们专业且专注，对设计的执着追求是我们与生俱来的向往，我们会用艺术性和实用性创造出更加完美的设计。
				</span>
			</li>
			<li>
				<img src="__ROOT__/static/images/icon_s_03.jpg">
				<span>
					<h3>用户体验优化</h3>
					包括了交互流程分析、用户分析、技术可行性分析、信息架构再造、交互流程优化以及UI/UE规范制定。<br />对于任何的用户，体验是我们诚挚的追求，从用户角度出发，做最真实的用户体验。
				</span>
			</li>
			<li>
				<img src="__ROOT__/static/images/icon_s_04.jpg">
				<span>
					<h3>企业信息化</h3>
					推动企业信息化发展，是“互联网+“最直接且直观的体现，我们提供包括信息架构搭建、程序定制开发等服务。<br />企业信息化是现代企业发展浪潮的必经之路，选择尚辰，就是选择光明未来。
				</span>
			</li>
			<li>
				<img src="__ROOT__/static/images/icon_s_05.jpg">
				<span>
					<h3>增值服务</h3>
					我们还有附加的增值服务，包括服务器租借、域名注册、7×24全天候网站监控、代码正确性维护等。<br />对于客户的满意，是我们最真实的追求，为客户提供多层次、宽领域、全方位的服务综合服务体系的高质体验。
				</span>
			</li>
		</ul>
		<div class="service_title_2"></div>
		<ul class="technology_icon">
				<li><img src="__ROOT__/static/images/icon_t_01.jpg"></li>
				<li><img src="__ROOT__/static/images/icon_t_02.jpg"></li>
				<li><img src="__ROOT__/static/images/icon_t_03.jpg"></li>
				<li><img src="__ROOT__/static/images/icon_t_04.jpg"></li>
				<li><img src="__ROOT__/static/images/icon_t_05.jpg"></li>
				<li><img src="__ROOT__/static/images/icon_t_06.jpg"></li>
		</ul>
    </div>
</div>
{include file="public/footer"}