
    <div class="footer clear">
        <div class="main">
            <ul class="info">
                <li>深圳市尚辰网络科技有限公司&emsp;SunChangeNetwork</li>
                <li>联系QQ：990981437&emsp;&emsp;Email：Jero@sunchange.cn</li>
                <li>深圳市南山区西丽镇同沙路深圳职业技术学院创意创业园227号</li>
                <li>Copyright ©2013-2014 SUNCHANGE Corporation, All Rights Reserved</li>
                <li>ICP备案号：粤ICP备13052752号
                    <script>
                    var _hmt = _hmt || [];
                    (function() {
                      var hm = document.createElement("script");
                      hm.src = "//hm.baidu.com/hm.js?00b75aca96fa64b2232beafcd3244c35";
                      var s = document.getElementsByTagName("script")[0]; 
                      s.parentNode.insertBefore(hm, s);
                    })();
                    </script>
                </li>
            </ul>
            <ul class="links">
                <li>Links</li>
                <li>薄荷CMS</li>
                <li><a href="http://www.baidu.com/s?wd=%E5%B0%9A%E8%BE%B0%E7%BD%91%E7%BB%9C&rsv_spt=1&issp=1&rsv_bp=0&ie=utf-8&tn=baiduhome_pg&inputT=3770">百度尚辰</a></li>
                <li><a href="http://jiuye.szpt.edu.cn/">深职院就业指导中心</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>