{include file="public/header"}
	<!-- main container -->
    <div class="content">
        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">默认模式</span>
            </a>
            <a href="#" class="skin second_nav" data-file="__STATIC__/admin/css/skins/dark.css">
                <span class="icon"></span><span class="text">夜间模式</span>
            </a>
        </div>

        <div class="container-fluid">


        </div>
    </div>
{include file="public/footer"}