{include file="public/header"}
	<!-- main container -->
    <div class="content">
        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">默认模式</span>
            </a>
            <a href="#" class="skin second_nav" data-file="__STATIC__/admin/css/skins/dark.css">
                <span class="icon"></span><span class="text">夜间模式</span>
            </a>
        </div>

        <div class="container-fluid">

            <!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">2457</span>
                            visits
                        </div>
                        <span class="date">Today</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">3240</span>
                            users
                        </div>
                        <span class="date">February 2014</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">322</span>
                            orders
                        </div>
                        <span class="date">This week</span>
                    </div>
                    <div class="span3 stat last">
                        <div class="data">
                            <span class="number">$2,340</span>
                            sales
                        </div>
                        <span class="date">last 30 days</span>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->
            <div id="pad-wrapper">
                <div class="row-fluid chart">
                    <h4>系统信息 System Information</h4>
                     <div class="span5">
                        <h6>参数信息</h6>
                        <ul>
                            <li>操作系统：WINNT</li>
                            <li>服务器软件：Apache/2.4.10 (Win32) OpenSSL/1.0.1h PHP/5.4.31 </li>
                            <li>MySQL 版本：5.5.39</li>
                            <li>上传文件：2M</li>
                        </ul>       
                    </div>                   
                    <div class="span5">
                        <h6>版权信息</h6>
                        <ul>
                            <li>版权所有：深圳市尚辰网络科技有限公司</li>
                            <li>总 策 划：郑子良</li>
                            <li>开发与支持团队：郑子良、田苗云、林春淯</li>
                            <li>官方网站：http://www.sunchange.cn/ </li>
                        </ul>       
                    </div>

                </div>
                <div class="row-fluid section ">
                    <h4>其他信息 Other Information</h4>
                    <div class="span5">
                        <h6>帐号信息</h6>
                        <ul>
                            <li>用户名：Jero</li>
                            <li>当前角色：Super Administrator</li>
                            <li>上次登录IP：183.15.249.13 </li>
                            <li>上次登录时间：2016-02-10 23:35:38</li>
                        </ul>       
                    </div>
                    <div class="span5">
                        <h6>提示信息</h6>
                        <ul>
                            <li>※建议您将网站目录设置为755（linux）或只读（windows）</li>
                            <li>※该网站已获得试用授权。</li>
                        </ul>       
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file="public/footer"}